

### standart
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
.pytest_cache/
.vscode/
tree.py

# pytest
.pytest_cache/
.cache/

# coverage
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
*.py,cover

# test logs
pytest.xml
test-results/
*.log

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
.ruff_cache

# OS-specific
*.DS_Store
Thumbs.db
