DATABASE__HOST=localhost
DATABASE__PORT=5433
DATABASE__USER=postgres
DATABASE__PASSWORD=your_secure_password
DATABASE__DB=deribit_tracker

DERIBIT_API__BASE_URL=https://www.deribit.com/api/v2

REDIS__HOST=redis
REDIS__PORT=6379
REDIS__DB=0
REDIS__PASSWORD=
REDIS__SSL=False

CELERY__WORKER_CONCURRENCY=1
CELERY__BEAT_ENABLED=True
CELERY__TASK_TRACK_STARTED=True

APPLICATION__DEBUG=False
APPLICATION__API_V1_PREFIX=/api/v1

CORS__ORIGINS=["http://localhost:8000","http://127.0.0.1:8000"]

APP_PORT=8000
